.infoCover {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(8, 8, 8, 0.9);
  z-index: 9;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.infoWrapper {
  caret-color: transparent;
  position: absolute;
  padding: 20px 0px 30px;
  top: 10vh;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
  width: 60%;
  max-width: 700px;
  min-width: 490px;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--mcYello);
  border-radius: 25px;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.88) 5px 5px 10px 10px;
}

h1 {
  margin: 10px 0;
}

.bigNutrition, .smallNutrition {
  width: 95%;
  display: flex;
  justify-content: center;
  flex-flow: row;
}

.bigNutritionValue {
  width: 25%;
  text-align: center;
}

.smallNutritionCollumn {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 35%;
  text-align: center;
  margin: 20px 0px;
}

.smallNutritionValue {
  width: 90%;
  line-height: 25px;
}

.smallNutritionValueLeft {
  float: left;
}

.smallNutritionValueRight {
  float: right;
}

.infoWrapper textarea {
  width: 80%;
  height: 300px;
  resize: none;
  border-radius: 10px;
  margin: 0px auto;
}

.paymentTypeSelect {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(139, 139, 139);
  border-radius: 35px;
}

.paymentTypeSelect img {
  height: 40px;
  padding: 5px;
}

.paymentTypeSelectOption {
  width: 50%;
}

#paymentTypeSelectContainer {
  margin: 15px 0;
  display: flex;
  flex-flow: column;
  border-radius: 35px;
}

.paymentTypeSelectOption:hover {
  cursor: pointer;
}

.paymentTypeSelectTop {
  position: absolute;
  z-index: 11;
  width: 30%;
  border-radius: 35px;
  height: 50px;
  transition: margin 0.4s ease;
  box-shadow: inset 0 0 10px 3px rgba(254, 198, 48, 1);
}

.paymentCreditCard {
  height: 258px;
  transition: height 0.4s ease;
  overflow: hidden;
}

.paymentCreditCardContainerShrunk {
  height: 0px;
}

.paymentTypeSelectTopMove {
  margin-left: 30%;
}

#checkoutInfoDiv {
  line-height: 22px;
  margin: 20px 0;
  width: 75%;
  display: flex;
  flex-flow: row;
}

#checkoutInfoDivItem {
  width: 25%;
}

#checkoutInfoDivSize {
  width: 25%;
  text-align: center;
}

#checkoutInfoDivNum {
  width: 25%;
  text-align: center;
}

#checkoutInfoDivPrice {
  text-align: right;
  width: 25%;
}

#checkoutTotalPriceDiv {
  margin: 0 0 20px;
  width: 75%;
  text-align: right;
  font-weight: bold;
}

#checkoutElseContainer {
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-flow: column;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.textInputBox input, select {
  width: 90%;
  border: 0;
  caret-color: black;
  outline: none;
  background-color: var(--mcYello);
  text-align: center;
  font-size: 15px;
  height: 40px;
  border-radius: 5px;
  margin: 10px;
  filter: brightness(0.9);
}

.textInputBox input:focus {
  outline: 2px solid var(--mcRed);
  filter: brightness(1);
}

.textInputBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expirationDateBox {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 1.5%;
}

.expirationDate {
  width: 36%;
}

#expirationYearBox {
  margin: 0;
}

.cvcBox {
  width: 28%;
}

.cvcBox input {
  width: 65%;
  border: 0;
  caret-color: black;
  outline: none;
  background-color: var(--mcYello);
  text-align: center;
  font-size: 15px;
  height: 40px;
  border-radius: 5px;
  margin: 10px 0;
  filter: brightness(0.9);
}

.cvcBox input:focus {
  outline: 2px solid var(--mcRed);
  filter: brightness(1);
}

.cvcBox input .submitBox {
  width: 100%;
  margin-top: 40px;
  background-color: var(--mcRed);
  border-radius: 8px;
}

.textInputBoxHalf {
  display: flex;
  flex-flow: column;
  width: 65%;
  align-items: center;
  margin-right: 5%;
}

.textInputBoxHalf input {
  width: 100%;
}

.submitBox input {
  background-color: var(--mcRed);
  margin: 20px 0 0;
  font-size: 20px;
  font-weight: bold;
  width: 50%;
  border: 0;
  height: 50px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  transition: box-shadow 0.15s ease-out;
}

.submitBox input:hover {
  cursor: pointer;
}

.infoPopUp {
  display: none;
}