.infoCover {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.76);
  z-index: 9;
  top: 0;
  left: 0;
}

.infoWrapper {
  position: fixed;
  padding: 20px 0px 30px;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
  width: 60%;
  max-width: 700px;
  min-width: 490px;
  background-color: rgba(0, 0, 0, 0.96);
  color: var(--mcYello);
  border-radius: 25px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

h1 {
  margin: 10px 0;
}

.bigNutrition, .smallNutrition {
  width: 95%;
  display: flex;
  justify-content: center;
  flex-flow: row;
}

.bigNutritionValue {
  width: 25%;
  text-align: center;
}

.smallNutritionCollumn {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 35%;
  text-align: center;
  margin: 20px 0px;
}

.smallNutritionValue {
  width: 90%;
  line-height: 25px;
}

.smallNutritionValueLeft {
  float: left;
}

.smallNutritionValueRight {
  float: right;
}

.infoPopUp {
  display: none;
}