:root {
  --mcRed: rgba(212, 43, 30, 1);
  --mcYello: rgba(254, 198, 48, 1);
}

html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto Flex', sans-serif;
  background-color: var(--mcRed);
}

.background {
  display: flex;
  align-items: center;
  flex-flow: column;
}

#wrapper {
  width: 90%;
  max-width: 700px;
  min-width: 500px;
  background-color: var(--mcYello);
  border-radius: 30px;
  position: relative;
  top: 0px;
  margin: 50px 0;
  box-shadow: rgba(0, 0, 0, 1) 0px 10px 50px;
  padding: 30px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#header {
  caret-color: transparent;
  /* text line removal */
  width: 100%;
  border-radius: 25px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

h1 {
  color: var(--mcRed);
  text-align: center;
  font-size: 30px;
  caret-color: transparent;
  /* text line removal */
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* select color removal */
  width: 100%;
}

#wrapper form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  caret-color: transparent;
  /* text line removal */
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* select color removal */
}

.top {
  margin: 10px 0;
}

.bottom {
  margin: 10px 0;
}

.checkboxInput {
  display: none;
}

.botSizeSelect input {
  display: none;
}

.checkboxImage {
  border-radius: 30px;
  width: 200px;
  height: 80px;
  background-color: black;
  color: var(--mcYello);
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: background-color 0.2s ease-in, border-radius 0.2s ease-in;
  position: relative;
  z-index: 4;
}

.checkboxImage:hover {
  cursor: pointer;
  background-color: rgba(55, 5, 0, 1);
}

.checkboxContainer {
  margin: 10px 15px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* text line removal */
  caret-color: transparent;
  /* select color removal */
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}

.sizeSelect {
  margin-top: -80px;
  border-radius: 30px;
  width: 200px;
  height: 80px;
  background-color: rgba(55, 5, 0, 1);
  color: var(--mcYello);
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: height 0.2s ease-in, border-radius 0.2s ease-in, background-color 0.2s ease-in, box-shadow 0.2s ease-out;
  /* text line removal */
  caret-color: transparent;
  /* select color removal */
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.countSelect {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: margin 0.2s ease-in;
  margin-top: 30px;
  height: 30px;
  padding: 0px;
}

.countNumber {
  width: 60px;
  display: inline-flex;
  justify-content: center;
}

.countArrow {
  height: 60%;
  background: var(--mcYello);
  border-radius: 20px;
  padding: 5px;
  padding-left: 10px;
  z-index: 3;
}

.countArrow,
.radioMark,
.radioSize,
.infoIcon:hover {
  cursor: pointer;
}

.botSizeSelect {
  display: flex;
  width: 100%;
  transition: margin 0.2s ease-in;
  justify-content: center;
  margin-top: -37px;
}

.radioSize {
  margin-top: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 50px;
}

.radioMark {
  height: 30px;
  width: 60px;
  background: rgba(255, 255, 255, 0.44);
  margin-top: -80px;
  z-index: 2;
  border-radius: 20px;
  margin-bottom: 100px;
  transition: margin-right 0.2s ease;
}

.checkboxContainer .infoIcon {
  height: 20px;
  width: 120px;
  background-color: var(--mcYello);
  border-radius: 15px;
  margin: -90px 0 20px;
  z-index: 2;
  text-align: center;
}

.checkboxContainer .infoIcon img {
  height: 30px;
  margin-top: -5px;
}

.submitButton {
  display: grid;
  place-items: center;
  width: 350px;
  height: 80px;
  background-color: var(--mcRed);
  color: var(--mcYello);
  font-weight: bold;
  font-size: 30px;
  border-radius: 30px;
}

.submitButton input {
  display: none;
}

.submitButton:hover,
.submitButton label:hover {
  cursor: pointer;
}

.footer {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  background-color: var(--mcYello);
  text-align: center;
}

#copyrightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  height: 50px;
  ;
}

.footer h2,
img {
  display: inline-block;
  color: black;
  font-size: 30px;
}

#socialMediaContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-flow: row;
  height: 50px;
  margin: -50px 5px 0;
}

.socialMediaIcons {
  height: 30px;
  margin: 0px 2px;
}

#copyrightMap, #socialMediaIcons:hover {
  cursor: pointer;
}

.sweetAlertSocials {
  display: flex;
  flex-flow: row;
  width: 40%;
}

#swalContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.swalText {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.clickToggleExpand {
  transition: background-color 0.2s ease-in, height 0.2s ease-out, box-shadow 0.2s ease;
  height: 200px;
  background-color: var(--mcRed);
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
}

.clickToggleTitle {
  background-color: var(--mcRed);
}

.clickToggleTitle:hover {
  background-color: var(--mcRed);
}

.moveRadioLeft {
  margin-right: 100px;
}

.moveRadioMiddle {
  margin-right: 0px;
}

.moveRadioRight {
  margin-right: -100px;
}